@charset "utf-8";
* 						{margin: 0; padding: 0;}
body						{font: 16px Georgia, serif;}
b						{font: 16px Georgia, serif;}

#page-wrap				{margin: 2% auto; color: white;}
#page-wrap >.main 		{border: 1px solid #999; padding: 1%;
						 margin-bottom: 1px; color: black;}

section > div				{padding: 20px;}
header			{background: #E7E7E7; text-align: center;}
nav				{background: #E7E7E7; text-align: center;}
section 		{background: #FFF; text-align: center;}
footer					{background: #E7E7E7; text-align: center;}
nav span { 
	margin: 0px 10px 0px 0px;
	width: 100%;
	display: inline-block;
	font-size:22px;
}

#ErrorMsgs          		 { color: #f61; font-size: smaler}

nav span:hover {
    color: black;
    background-color: white;
}

nav span a {
	text-decoration: none;
	color:black;
}
footer img {
	opacity:0.5;
	width:3%;
}
footer img:hover {
	 opacity: 1.0;
}