body				{background: #999;}

/*#page-wrap:after 	{content: "Wide Layout";}*/

nav	{
	position:absolute;
	float: left;
	top:112px;
	left:0px;
	width: 16%; 
	height: 767px;
	z-index: 10;
} 
nav span				{margin: 0px 20px 0px 0px;}
section	{
	float: right; 
	width: 84%; 
	height: 767px;
	z-index: 1;
}
footer				{clear: both; display: block;}

.try-again {
  color:#f2f2f2;
  text-decoration:underline;
  cursor:pointer;
	text-align:center;
}